.u-block-bb87-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-bb87-3 {
  position: absolute;
  left: 0;
}

.u-block-bb87-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/marcopolo-onibus-bolivia.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 840px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-group-1 {
  width: 438px;
  min-height: 126px;
  background-image: none;
  margin: 684px auto 1px 0;
}

.u-section-1-1 .u-line-1 {
  transform-origin: left center 0;
  margin: 0 auto 0 0;
}

.u-section-1-1 .u-text-1 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 33px 48px 0 62px;
}

.u-section-1-1 .u-text-2 {
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-group-1 {
    width: 422px;
    margin-top: 715px;
    margin-bottom: 0;
  }

  .u-section-1-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-right: 25px;
    margin-bottom: 27px;
    margin-left: 65px;
  }

  .u-section-1-1 .u-text-2 {
    position: relative;
    margin: -69px 0 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1-1 .u-group-1 {
    margin-top: 419px;
  }

  .u-section-1-1 .u-text-1 {
    margin: 38px 13px 39px 56px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-1 .u-group-1 {
    width: 352px;
    min-height: 100px;
    margin-top: 307px;
    margin-bottom: 1px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.125rem;
    margin: 18px 9px 19px 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1-1 .u-group-1 {
    width: 57px;
    margin-top: -235px;
    margin-bottom: 60px;
  }

  .u-section-1-1 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 20px;
  }
} .u-section-2 {
  min-height: 616px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: auto;
  right: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 570px;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  height: 182px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 51px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 506px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  width: 326px;
  height: 3px;
  transform-origin: left center;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  width: 175px;
  height: 9px;
  transform-origin: left center;
  margin: 29px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  width: 40px;
  height: 40px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 578px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 70px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-2 .u-image-1 {
    height: 150px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 417px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 443px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 115px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 285px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1722px;
  }

  .u-section-2 .u-shape-1 {
    height: 585px;
    margin-top: 1140px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1655px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 345px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1666px;
  }

  .u-section-2 .u-shape-1 {
    height: 683px;
    margin-top: 983px;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1596px;
  }

  .u-section-2 .u-image-1 {
    height: 217px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 670px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 146px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 630px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-3 .u-image-1 {
  height: 274px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px 29px 0 5px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 0 29px 0 5px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 41px 0 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 18px 41px 0 20px;
}

.u-section-3 .u-image-2 {
  width: 40px;
  height: 40px;
  margin: 22px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-3 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-image-2 {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 519px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-3 .u-image-2 {
    width: 44px;
    height: 44px;
    margin-bottom: -20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}